.*
!.eslintrc.json
!.eslintignore
!.npmignore
!.gitignore
!.github

/dist
/node_modules
/selenium
/src
*.d.ts
*.js.map
*.log

blots/*.js
core/*.js
formats/*.js
modules/*.js
themes/*.js
ui/*.js
test/random.js

core.js
quill.js
/test-results/
/playwright-report/
/playwright/.cache/
playwright.config.js
e2e/full.spec.js
e2e/utils/index.js
e2e/utils/fixtures.js
e2e/utils/QuillPage.js
aieditor/node_modules